<?xml version="1.1"?>

<!-- Standalone example launch file for GX3, GX4, GX/CX5, RQ1 and GQ7 series devices-->
<!-- Note: Feature support is device-dependent and some of the following settings may have no affect on your device. -->
<!--  Please consult your device's documentation for supported features -->
<launch>

  <!-- Declare arguments with default values -->
  <arg name="namespace"   default = "/"                           doc = "Namespace to use when launching the nodes in this launch file" />
  <arg name="node_name"   default = "microstrain_inertial_driver" doc = "Name to give the Microstrain Inertial Driver" />
  <arg name="debug"       default = "false"                       doc = "Whether or not to log debug information." />
  <arg name="params_file" default = ""                            doc = "Path to file that will load additional parameters" />

  <!-- Add some old launch parameters for backwards compatibility -->
  <!-- NOTE: These parameters are deprecated and will be removed in a future release. It is strongly recommended to use the new params_file option instead -->
  <arg name="port"                   default = ""  doc = "DEPRECATED. Use params_file instead" />
  <arg name="aux_port"               default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="baudrate"               default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="imu_frame_id"           default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="imu_data_rate"          default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="filter_data_rate"       default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="gnss1_frame_id"         default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="gnss2_frame_id"         default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="filter_frame_id"        default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="filter_child_frame_id"  default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="nmea_frame_id"          default = ""  doc = "DEPRECATED. Use params_file instead"  />
  <arg name="use_enu_frame"          default = ""  doc = "DEPRECATED. Use params_file instead"  />

  <!-- Set the log level to debug -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find microstrain_inertial_driver)/config/custom_rosconsole.conf" if="$(arg debug)" />

  <!-- ****************************************************************** -->
  <!-- Microstrain sensor node -->
  <!-- ****************************************************************** -->
  <node name="$(arg node_name)" pkg="microstrain_inertial_driver" type="microstrain_inertial_driver_node" output="screen" ns="$(arg namespace)">

    <!-- Load the default params file. -->
    <rosparam file="$(find microstrain_inertial_driver)/microstrain_inertial_driver_common/config/params.yml" command="load" />

    <!-- NOTE: These parameters are deprecated and will be removed in a future release. It is strongly recommended to use the new params_file option instead -->
    <param name="port"                  value="$(arg port)"                  type="str"  unless="$(eval arg('port') == '')" />
    <param name="aux_port"              value="$(arg aux_port)"              type="str"  unless="$(eval arg('aux_port') == '')" />
    <param name="baudrate"              value="$(arg baudrate)"              type="int"  unless="$(eval arg('baudrate') == '')" />
    <param name="imu_frame_id"          value="$(arg imu_frame_id)"          type="str"  unless="$(eval arg('imu_frame_id') == '')" />
    <param name="gnss1_frame_id"        value="$(arg gnss1_frame_id)"        type="str"  unless="$(eval arg('gnss1_frame_id') == '')" />
    <param name="gnss2_frame_id"        value="$(arg gnss2_frame_id)"        type="str"  unless="$(eval arg('gnss2_frame_id') == '')" />
    <param name="filter_frame_id"       value="$(arg filter_frame_id)"       type="str"  unless="$(eval arg('filter_frame_id') == '')" />
    <param name="filter_child_frame_id" value="$(arg filter_child_frame_id)" type="str"  unless="$(eval arg('filter_child_frame_id') == '')" />
    <param name="nmea_frame_id"         value="$(arg nmea_frame_id)"         type="str"  unless="$(eval arg('nmea_frame_id') == '')" />
    <param name="imu_data_rate"         value="$(arg imu_data_rate)"         type="int"  unless="$(eval arg('imu_data_rate') == '')" />
    <param name="filter_data_rate"      value="$(arg filter_data_rate)"      type="int"  unless="$(eval arg('filter_data_rate') == '')" />
    <param name="use_enu_frame"         value="$(arg use_enu_frame)"         type="bool" unless="$(eval arg('use_enu_frame') == '')" />

    <!-- If you want to override any settings specified in the params.yml file, make a new yaml file, and set the value via the params_file arg -->
    <rosparam file="$(arg params_file)" command="load" unless="$(eval arg('params_file') == '')" />
  </node>

</launch>